body{
    background-color: darkorchid;
}

.titulo{
    color: cyan;
    text-align: center;
    font-family: Verdana;
}

.titulo1{
    background-color: cadetblue;
    color: wheat;
    text-align: center;
    border: 2px dotted cyan;

}

/* medidas absolutas y las relativas */


/* ABSOLUTAS */

/* centimetros */
.centimetros{
    color: red;
    /* tamaño de letra */
    /* IMPORTANTE */
    /* unidades de medida van enseguida de la cantidad sin espacio */
    font-size: .3cm;
}

.pulgadas{
    color: aqua;
    background-color: blueviolet;
    font-size: 1in;
}

.puntos{
    color: brown;
    background-color: black;
    font-size: 20pt;
}

.picas{
    color: antiquewhite;
    background-color: crimson;
    font-size: 3pc;
}

/* pixeles */

.pixeles{
    /* ancho */
    width: 100px;
    /* alto */
    height: 100px;
    background-color: plum;
    color: white;
    border: 2px dotted cyan;
}